h1{
    text-align: center;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    width: 100%;
    max-width: 1000px;  
    /* border: 3px solid black; */
    margin: 0 auto;
    text-align: center;
    font-size: 0.8em;
    grid-gap:2px;
}
.contenedor > div{
    display: block;
    background-color:whitesmoke;
    padding: 30px;
    color: rgb(0, 0, 0);
    /* box-shadow: 2px 2px 10px rgb(0,0,0,.25); */
    text-align: left;
    border-radius: 1px;
    width: 80px;
}
.contenedor .uno{
    background: rgb(255, 201, 201);
    grid-column-start: 4;
    grid-column-end: 3;
}
.contenedor .dias-semana{
    background-color: rgb(232, 70, 41);
    color: whitesmoke;
    font-size: 1.5em;
}
.contenedor .item-21, .contenedor .item-6, .contenedor .item-13, .contenedor .item-20, .contenedor .item-27{
    background: rgb(255 , 201 ,201);
}
