body{
    background-color: rgba(120, 121, 173, 0.281);
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
    font-size: 2em;
    text-align: center;
    font-style: 'italica';
    font-size: 2.3em;
    background: rgb(255, 255, 253);
    padding-top: 15px;
    font-family: 'Rye', cursive;
    background: none;
}
fieldset{
    border-radius: 20px;
    margin: 0 auto;
    width: 43%;
    display: block;
    color: whitesmoke;   
}
