*{
    margin: 0;
    padding: 0;
}
.main-conter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.conter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}