* {
    margin: 0;
    padding: 0;
}
nav {
    background-color: rgb(64,64,64,.7);
}
ul {
    font-size: 1.4em;
    text-align: right;
    list-style: none;
}
li {
    display: inline-block;
}
a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}