body{
    background-color: whitesmoke;
}
h1{
    background-color: aqua;
    text-align: center;
    color: rgb(0, 183, 255);
    border-radius: 10px;
}
.box ,.box-1, .box-2{
    margin: 60px;
    width: 170px;
    display: inline-block;
    font-size: 0.9em;
    color: black;
    /* background-color: rgb(255, 31, 31); */
    border-radius: 10px;
}
p{
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 1.5em;
}
.imagen{
    margin: 0 auto;
    width: 100%;
}
